<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>com.humg.daily_summary</string>

	<key>ProgramArguments</key>
	<array>
		<string>/Users/bytedance/go/src/humg.top/daily_summary/daily_summary</string>
	</array>

	<key>RunAtLoad</key>
	<true/>

	<key>KeepAlive</key>
	<true/>

	<key>StandardOutPath</key>
	<string>/Users/bytedance/go/src/humg.top/daily_summary/run/logs/stdout.log</string>

	<key>StandardErrorPath</key>
	<string>/Users/bytedance/go/src/humg.top/daily_summary/run/logs/stderr.log</string>

	<key>WorkingDirectory</key>
	<string>/Users/bytedance/go/src/humg.top/daily_summary</string>
</dict>
</plist>
